<main>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12">
        <h1 class="kode-mono d-flex justify-content-center">
          Hi! I'm Péter Farkas
        </h1>
        <h3 class="kode-mono typewriter d-flex justify-content-center">a_</h3>
        <ul class="d-flex align-items-center flex-sm-row flex-column">
          <li><button class="button-56" role="button">Home</button></li>
          <li><button class="button-56" role="button">About</button></li>
          <li><button class="button-56" role="button">Resume</button></li>
          <li><button class="button-56" role="button">Portfolio</button></li>
          <li><button class="button-56" role="button">Contact</button></li>
        </ul>
      </div>
    </div>
  </div>
</main>
